/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
/* Keep reset CSS to one minified line */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* ===== BASE STYLES ===== */

html {
  font-size: 0.938em; /*15px*/
  line-height: 0.833em; /*18px = 1 gridline*/
  padding-left: 0.6em;
  padding-right: 0.6em;
}

h1 {
  font-size: 1.728em; /*31.104px*/
  line-height: 1.157em; /*36px @ 31.104*/
}

h2 {
  font-size: 1.44em; /*25.92px*/
  line-height: 1.388em ; /*36px @ 25.92px*/
}

p{
  padding-bottom: 0.833em; /*18px*/
}

ul,
li {
  padding-bottom: 0.6em; /*9px*/
}
